html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel="stylesheet" href="css/styles.css")
    link(rel='icon', type='image/ png', size='16x16', href='image/vcicon.png')
    title #{title}
    script(type='text/javascript').
      //window.onload=function(){
        //if('#{authority}' == 'member'){
          //document.getElementById('masuta19').style.display = 'none';
        //}
      //}
  body
    header 
      li.TOP(id='top') ＴＯＰ
    #app
      .A
        br
        h2 プログラム一覧
          br
        nav.menu(style='border-top: solid #1e366a 1px;border-bottom: solid #1e366a 1px;margin-left:39px')
            ul.list
              .D
                li.masuta(v-for="list in lists" v-on:mouseover="loadlist(list.method)" v-bind:id="list.id") {{list.value}}
              .F(v-show="is__select1")
                li.masuta2(v-for="masutalist in masuta" v-bind:id="masutalist.id") {{masutalist.value}}
              .F(v-show="is__select2")
                li.masuta2(v-for="Salelist in Sales" v-bind:id="Salelist.id") {{Salelist.value}}
              .F(v-show="is__select3")
                li.masuta2(v-for="Purchaselist in Purchase" v-bind:id="Purchaselist.id") {{Purchaselist.value}}
              .F(v-show="is__select4")
                li.masuta2(v-for="stocklist in Stock" v-bind:id="stocklist.id") {{stocklist.value}}
              .F(v-show="is__select5")
                li.masuta2(v-for="productionlist in Production" v-bind:id="productionlist.id") {{productionlist.value}}
              .F(v-show="is__select6")
                li.masuta2(v-for="transferlist in Transfer" v-bind:id="transferlist.id") {{transferlist.value}}
              .F(v-show="is__select7")
                li.masuta2(v-for="itiran in Itiran" v-bind:id="itiran.id") {{itiran.value}}
        form.program(name='program' action='/' method='POST')
          input.nyu(name='authority' type='hidden' value=`${authority}`)
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='script/program.js')
    script(src='script/information.js')